*,
::before
::after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}
body {
    color:$color-grey ;
    background-color:$color-white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    width: 100%;
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

}
.section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
@media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
    
    .section {
        padding-top: 94px;
        padding-bottom: 94px;
      }
}
