$color-white:#FFF ;
$color-grey:#757575 ;
$color-black:#000 ;
$color-pink:#f3b5ff ;
$color-secondary-pink: #ea5ffc;
$color-rgba-gray: #be11ed;
$color-secondary-rgba-gray: rgb(121, 4, 229);
$color-violet:#5105c1 ;
$color-secondary-violet: #3e0d8e;