$color-white:#FFF ;
$color-grey:#757575 ;
$color-black:#000 ;
$color-secondary-red: #330000;
$color-rgba-red: #230000;
$color-secondary-rgba-red: #200000;
$color-red:#1e0101 ;
$color-secondary-reds: #160101;
$color-reds:#160000;