// Лого в хедері

.logo-h {
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    // animation-name: logo-start;
    text-decoration: none;

    color:$color-white;

    &1 {
        color:#0085FF;  
    }

    &2 {
        color: #fbff04;
    }

    // Ховер хедер

    &:hover {
        color: rgba(159, 19, 19, 0.796);
        font-weight: 900;
    }

    &:hover > &1 {
        color: rgba(159, 19, 19, 0.796);
        font-weight: 900;
    }

    &:hover > &2 {
        color: rgba(159, 19, 19, 0.796);
        font-weight: 900;
    }
}

// Лого в футері

.logo-f {
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: $color-white;
    display: inline;
    text-decoration: none;

    &1 {
        color:#0085FF;
    }

    &2 {
        color: #fbff04;
    }

    &-box {
        display: flex;
        align-items: center;
        justify-content: center;
}

// Ховер лого футер

    &:hover {
        color: rgba(159, 19, 19, 0.796);
        font-weight: 900;
    }

    &:hover > &1 {
        color: rgba(159, 19, 19, 0.796);
        font-weight: 900;
    }

    &:hover > &2 {
        color: rgba(159, 19, 19, 0.796);
        font-weight: 900;   
    }
}