.footer {
  background-color: $color-reds;
  padding: 0 28px 10px 28px;

    @media screen and (min-width: 480px) {
    padding: 0 138px 50px;
  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;

    @media screen and (min-width: 480px) {
      justify-content: flex-start;
      align-items: flex-start
    }
  }

  &-item {
    display: block;

    @media screen and (min-width: 480px) {
      display: inline;
    }
  }

  &-link {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-decoration: none;
    color: $color-white;
  }

  &-link-title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 35px;
    text-decoration: none;
    margin-bottom: 1rem;
    color: $color-white;
  }

  &-flex {
    display: flex;
    justify-content: baseline;
    flex-direction: column;

    @media screen and (min-width: 480px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &-tips {
    text-align: center;
    color: $color-white;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
}

.socials {
  margin-top: 18px;

  &-text {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 35px;
    color: $color-white;
    margin-bottom: 7px;
    text-align: center;

    @media screen and (min-width: 480px) {
      margin-bottom: 32px;
      text-align: left;
    }
  }

  &-list {
    display: flex;
    gap: 39px;
    align-items: center;
    justify-content: center;
    margin-bottom: 19px;

    @media screen and (min-width: 480px) {
      gap: 35px;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  &-item {
    background-color: #442402e1;
    width: 64px;
    height: 64px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .insta {
    background: center no-repeat url(../src/img/insta.svg);
    width: 37px;
    height: 37px;
  }

  .facebook {
    background: center no-repeat url(../src/img/facebook.svg);
    width: 28px;
    height: 37px;
  }

  .twitter {
    background: center no-repeat url(../src/img/twit.svg);
    width: 37px;
    height: 37px;
  }
}