.header {
  background-color: $color-secondary-red;
  margin: 0;
  padding: 5px 27px;

  &-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &-link {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 35px;
    text-decoration: none;
    color: $color-white;
  }
  
  @media (min-width: 480px) {
    .header {
      padding: 8px 76px 8px;
    }
  }
}