.new {
  background-color: $color-red;
  padding: 30px 20px;

  &-title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 15px;
    color: $color-white;
  }

  &-koloda {
    // display: flex;
    // justify-content: stretch;
    // align-items: center;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &-card {
    background-color: $color-secondary-red;
    // display: flex;
    // flex-direction: column;
    // justify-content: stretch;
    border-radius: 15px;
    // width: 90%;
    flex-basis: 100%;
    flex: 1px 1px 0px;
  }

  &-movie-title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    display: grid;
    place-items: center;
    color: $color-white;
    height: 105px;
    overflow: hidden;
    text-overflow: ellipsis
  }

  &-movie-desc {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #cecbcb;
  }

  &-text {
    padding: 0 20px 16px;
  }

  &-button {
    background-color: $color-reds;
    border: none;
    border-radius: 20px;
    padding: 10px 0;
    width: 100%;
    margin-top: 10px;

    &-text {
      font-family: "Roboto", sans-serif;
      color: $color-white;
    }
  }

  &-img {
    width: 100%;
    height: 180px;
    border-radius: 15px;
  }

  @media screen and (min-width: 480px) {
    padding: 30px 76px;

    &-title {
      margin-bottom: 30px;
    }

    &-koloda {
      grid-template-columns: repeat(2, 1fr);
    }

    &-card {
      width: auto;
    }

    &-movie-desc {
      height: 150px;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-right: 5px;

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-secondary-rgba-red;
        border-radius: 20px;
      }
    }

    &-text {
      // overflow-y: scroll;
      // overflow-x: hidden;
    }

    &-img {
      width: 100%;
      height: 125px;
    }
  }

  @media screen and (min-width: 769px) {
    &-koloda {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
