.cards, .cards-holder{
    background-color: $color-secondary-rgba-red;
    margin: 0;
    padding: 0;
}
.card-title{
    color:$color-white;
    margin-bottom: 10px;
}
.card{
   text-align: center;
}
.cards{
   height: 800px;
}
@media screen and (min-width:320px) {
    .card{
        margin-bottom: 40px;
        width: 50px;
        height: 60px;
    }
    .card img {
        max-width: 100px;
        max-height: 160px;
    }
    // .cards{
    //     display: flex;
    //     color: $color-white;
    //     background-color: $color-secondary-rgba-red;
    //     justify-content: center;
    //     flex-direction: column;
    //     text-align: center;

    // }
 }
@media screen and (min-width:480px) {
    .card{
        margin-bottom: 40px;
        width: 50px;
        height: 60px;
    }
    .cards{
        display: flex;
        color: $color-white;
        background-color: $color-secondary-rgba-red;
        justify-content: space-around;
        text-align: center;
        height: 300px;
    }
    .card-title{
        color:$color-white;
        margin-bottom: 10px;
    }
    .card img {
        max-width: 150px;
        max-height: 160px;
    }
    

}
@media screen and (min-width:768px) {
    .card{
        margin-left: 30px;
    }
    .cards {
     margin-left: 40px;
     background-color:$color-secondary-rgba-red ;     
    }
    .card-title{
        color:$color-white;
        margin-bottom: 10px;
    }
    .card img {
        max-width: 150px;
        max-height: 160px;
    }
    .cards{
        display: flex;
        color: $color-white;
        background-color: $color-secondary-rgba-red;
        justify-content: space-around;
        text-align: center;
    }
}
@media screen and (min-width:1200px) {
    .card{
        //width: calc((100% - 12 * 15px) / 6);
        width: 150px;
        height: 160px;
    }
.card img {
    padding-top: 20px;
    max-width: 250px;
    max-height: 260px;
}
    .cards{
        background-color: $color-secondary-rgba-red;
    }
    .card-title{
        color:$color-white;
        margin-bottom: 10px;
    }
    .cards{
        display: flex;
        color: $color-white;
        background-color: $color-secondary-rgba-red;
        justify-content: space-around;
        text-align: center;
    }
}
